*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  border: none;
  margin: 0;
  background-color: initial;
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

button {
  appearance: none;
}

html {
  display: flex;
  min-height: 100%;
  font-size: 18px;
}

body {
  display: flex;
  width: 100%;
  min-width: 320px;
  flex-direction: column;
  flex-grow: 1;
}

.page {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-grow: 1;
}

.title {
  font-size: 30px;
  font-weight: var(--fw-bold);
  line-height: 1.3;
}

.visuallyHidden {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border-width: 0 !important;
  margin: -1px !important;
  clip: rect(0, 0, 0, 0) !important;
}

.fullSize {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
