.Checkbox {
  position: relative;
  display: flex;
  height: 30px;
}

.Checkbox_input {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  left: 0;
  transform: translate(0, -50%);
}

.Checkbox_label {
  position: relative;
  left: -10px;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-left: 40px;
  line-height: var(--lh-sm);
}

.Checkbox_required {
  display: none;
}

.Checkbox_required__visible {
  display: block;
  margin-right: 5px;
}
