.Checkbox {
  position: relative;
  display: flex;
  height: 30px;

  &_input {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }

  &_label {
    position: relative;
    left: -10px;
    display: flex;
    max-width: 100%;
    align-items: center;
    padding-left: 40px;
    line-height: var(--lh-sm);
  }

  &_required {
    display: none;

    &__visible {
      display: block;
      margin-right: 5px;
    }
  }
}
