.Header {
  display: flex;
  width: 100%;
  min-width: var(--min-page-width);
  max-width: var(--max-page-width);
  justify-content: space-between;
}

.Header_link {
  display: flex;
  overflow: hidden;
  max-width: calc(var(--max-page-width) / 3);
  justify-content: center;
  padding: 10px 20px;
  text-overflow: ellipsis;
  transition: background-color var(--t);
  white-space: nowrap;
}

.Header_link__active {
  background-color: lightgray;
}
