.Input {
  position: relative;
  display: flex;
  flex-direction: column;
}

.Input_inputContainer {
  position: relative;
  width: 100%;
}

.Input_input {
  width: 100%;
  height: 20px;
  border-bottom: 1px solid black;

  &:disabled {
    opacity: 0.5;
  }
}

.Input_input__hasErrors {
  border-color: red;
}

.Input_input__hasClearButton {
  padding-right: 23px;
}

.Input_label {
  position: relative;
  display: flex;
  max-width: 100%;
  margin-bottom: 3px;
  line-height: var(--lh-sm);
}

.Input_required {
  display: none;
  margin-left: 5px;
}

.Input_required__visible {
  display: block;
}

.Input_textUnderInputContainer {
  position: relative;
  height: 20px;
}

.Input_textUnderInput {
  overflow: hidden;
  height: 100%;
  margin-top: 2px;
  cursor: default;
  text-overflow: ellipsis;
  visibility: hidden;
  white-space: nowrap;
  background-color: #fff;

  &:focus,
  &:hover {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    border-radius: var(--bdrs-sm);
    white-space: normal;
  }
}

.Input_textUnderInput__error {
  color: red;
}

.Input_textUnderInput__warning {
  color: orange;
}

.Input_textUnderInput__visible {
  visibility: visible;
}

.Input_clearButton {
  position: absolute;
  top: 0;
  right: 1px;
  display: flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  &::before,
  &::after {
    position: absolute;
    width: 80%;
    height: 2px;
    background-color: #000;
    content: '';
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}
