.Input {
  position: relative;
  display: flex;
  flex-direction: column;

  &_input {
    height: 30px;
    padding-left: 7px;
    border: 1px solid var(--c-gray-6);
    background-color: var(--c-gray-2);
    border-radius: var(--bdrs-md);
    color: var(--c-gray-9);
    outline: none;

    &:focus {
      border-color: var(--c-gray-9);
    }

    &__isHighlighted {
      background-color: var(--c-warning-dark);
    }

    &__hasErrors {
      border-color: var(--c-danger);

      &:focus {
        border-color: var(--c-danger-light);
      }
    }

    &::placeholder {
      color: var(--c-gray-5);
    }
  }

  &_label {
    position: relative;
    display: flex;
    max-width: 100%;
    margin-bottom: 3px;
    line-height: var(--lh-sm);
  }

  &_required {
    display: none;
    margin-right: 5px;

    &__visible {
      display: block;
    }
  }

  &_textUnderInputContainer {
    position: relative;
    height: 20px;
  }

  &_textUnderInput {
    overflow: hidden;
    height: 100%;
    margin-top: 2px;
    color: var(--c-danger);
    cursor: default;
    text-overflow: ellipsis;
    visibility: hidden;
    white-space: nowrap;

    &__error {
      color: var(--c-danger);

      &:focus,
      &:hover {
        outline: 1px solid var(--c-danger);
      }
    }

    &__warning {
      color: var(--c-warning);

      &:focus,
      &:hover {
        outline: 1px solid var(--c-warning);
      }
    }

    &__visible {
      visibility: visible;
    }

    &:focus,
    &:hover {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      background-color: var(--c-gray-1);
      border-radius: var(--bdrs-sm);
      white-space: normal;
    }
  }
}
