.Input {
  position: relative;
  display: flex;
  flex-direction: column;

  &_input {
    height: 30px;
    padding-left: 7px;
    border: 1px solid var(--c-gray-6);
    background-color: var(--c-gray-2);
    border-radius: var(--bdrs-md);
    color: var(--c-gray-9);
    outline: none;

    &:focus {
      border-color: var(--c-gray-9);
    }

    &__isHighlighted {
      background-color: var(--c-warning-dark);
    }

    &__hasErrors {
      border-color: var(--c-danger);

      &:focus {
        border-color: var(--c-danger-light);
      }
    }

    &::placeholder {
      color: var(--c-gray-5);
    }
  }

  &_label {
    position: relative;
    display: flex;
    max-width: 100%;
    margin-bottom: 3px;
    line-height: var(--lh-sm);
  }

  &_required {
    display: none;
    margin-right: 5px;

    &__visible {
      display: block;
    }
  }

  &_error {
    overflow: hidden;
    height: 17px;
    margin-top: 2px;
    color: var(--c-danger);
    text-overflow: ellipsis;
    visibility: hidden;
    white-space: nowrap;

    &__visible {
      visibility: visible;
    }
  }
}
