:root {
  /* Font */
  --ff-default: arial, sans-serif;

  /* Colors */

  /* gray */
  --h-gray: 180;
  --s-gray: 15%;
  --l-gray-1: 10%;
  --l-gray-2: 20%;
  --l-gray-3: 30%;
  --l-gray-4: 40%;
  --l-gray-5: 50%;
  --l-gray-6: 60%;
  --l-gray-7: 70%;
  --l-gray-8: 80%;
  --l-gray-9: 90%;
  @media (prefers-color-scheme: light) {
    --l-gray-1: 100%;
    --l-gray-2: 85%;
    --l-gray-3: 75%;
    --l-gray-4: 60%;
    --l-gray-5: 30%;
    --l-gray-6: 25%;
    --l-gray-7: 20%;
    --l-gray-8: 15%;
    --l-gray-9: 10%;
  }

  --c-gray-1: hsl(var(--h-gray), var(--s-gray), var(--l-gray-1));
  --c-gray-1-8: hsl(var(--h-gray), var(--s-gray), var(--l-gray-1), 80%);
  --c-gray-2: hsl(var(--h-gray), var(--s-gray), var(--l-gray-2));
  --c-gray-3: hsl(var(--h-gray), var(--s-gray), var(--l-gray-3));
  --c-gray-4: hsl(var(--h-gray), var(--s-gray), var(--l-gray-4));
  --c-gray-5: hsl(var(--h-gray), var(--s-gray), var(--l-gray-5));
  --c-gray-6: hsl(var(--h-gray), var(--s-gray), var(--l-gray-6));
  --c-gray-7: hsl(var(--h-gray), var(--s-gray), var(--l-gray-7));
  --c-gray-8: hsl(var(--h-gray), var(--s-gray), var(--l-gray-8));
  --c-gray-9: hsl(var(--h-gray), var(--s-gray), var(--l-gray-9));

  /* info */
  --h-info: 200;
  --s-info: 50%;
  --l-info-dark: 30%;
  --l-info: 60%;
  --l-info-light: 90%;
  @media (prefers-color-scheme: light) {
    --l-info-dark: 80%;
    --l-info: 50%;
    --l-info-light: 30%;
  }

  --c-info-dark: hsl(var(--h-info), var(--s-info), var(--l-info-dark));
  --c-info: hsl(var(--h-info), var(--s-info), var(--l-info));
  --c-info-light:
    hsl(
      var(--h-info),
      var(--s-info),
      var(--l-info-light)
    );

  /* warning */
  --h-warning: 50;
  --s-warning: 50%;
  --l-warning-dark: 30%;
  --l-warning: 60%;
  --l-warning-light: 90%;
  @media (prefers-color-scheme: light) {
    --l-warning-dark: 60%;
    --l-warning: 30%;
    --l-warning-light: 30%;
  }

  --c-warning-dark:
    hsl(
      var(--h-warning),
      var(--s-warning),
      var(--l-warning-dark)
    );
  --c-warning:
    hsl(
      var(--h-warning),
      var(--s-warning),
      var(--l-warning)
    );
  --c-warning-light:
    hsl(
      var(--h-warning),
      var(--s-warning),
      var(--l-warning-light)
    );

  /* danger */
  --h-danger: 0;
  --s-danger: 50%;
  --l-danger-dark: 30%;
  --l-danger: 50%;
  --l-danger-light: 70%;
  @media (prefers-color-scheme: light) {
    --l-danger-dark: 70%;
    --l-danger: 40%;
    --l-danger-light: 30%;
  }

  --c-danger-dark:
    hsl(
      var(--h-danger),
      var(--s-danger),
      var(--l-danger-dark)
    );
  --c-danger: hsl(var(--h-danger), var(--s-danger), var(--l-danger));
  --c-danger-light:
    hsl(
      var(--h-danger),
      var(--s-danger),
      var(--l-danger-light)
    );

  /* Border radius */
  --bdrs-sm: 2px;
  --bdrs-md: 5px;
  --bdrs-full: 99999px;

  /* Transition */
  --t: 0.2s ease-in-out;

  /* Shadows */
  --shadow-default: 6px 6px 35px rgba(112, 123, 177, 0.2);

  /* Spaces */
  --space-sm: 5px;
  --space-md: 10px;
  --space-lg: 20px;
  --max-page-width: 500px;
  --min-page-width: 320px;

  /* z-index */
  --z-default: 100;

  /* font-weight */
  --fw-bold: 700;
}
