.CSV {
  display: flex;
  flex-grow: 1;
  align-items: center;
  overflow-y: scroll;

  &_container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
  }

  &_error {
    white-space: pre;
  }

  &_exportButton {
    margin-top: 20px;
  }
}
