.SignIn {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;

  &_title {
    margin-bottom: 10px;
  }

  &_form {
    display: flex;
    width: 260px;
    flex-direction: column;

    &__disabled {
      opacity: 0.4;
    }

    & > :not(*:last-child) {
      margin-bottom: 15px;
    }
  }

  &_state {
    margin-bottom: 15px;

    &__wrongPassword {
      color: var(--c-danger);
    }
  }

  &_installApp {
    display: none;
    margin-top: 15px;

    &__visible {
      display: flex;
    }
  }
}
