.SignIn {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;

  &_title {
    margin-bottom: 10px;
  }

  &_form {
    display: flex;
    width: 280px;
    flex-direction: column;

    &__disabled {
      opacity: 0.4;
    }

    & > :not(*:last-child) {
      margin-bottom: 15px;
    }
  }

  &_usernameContainer {
    display: flex;
    align-items: center;
  }

  &_newButton {
    padding: 7px;
    margin-left: auto;

    & + * {
      flex-grow: 1;
    }
  }

  &_state {
    margin-bottom: 15px;

    &__wrongPassword {
      color: var(--c-danger);
    }
  }
}
