.SignIn {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;

  &_title {
    margin-bottom: 10px;
  }

  &_form {
    display: flex;
    width: 280px;
    flex-direction: column;

    &__disabled {
      opacity: 0.4;
    }
  }

  &_usernameContainer {
    display: flex;
    width: 100%;
    align-items: center;
  }

  &_usernameContainer > *:first-child {
    flex-grow: 1;
  }

  &_newButton {
    padding: 7px;
    margin-left: 5px;
  }

  &_state {
    margin-bottom: 15px;

    &__wrongPassword {
      color: red;
    }
  }
}
