.TransactionsList {
  display: flex;
  align-items: center;

  &_searchContainer {
    width: 100%;
    min-width: var(--min-page-width);
    max-width: var(--max-page-width);
    padding: var(--space-md);
    border-bottom: 1px solid var(--c-gray-4);
    background-color: var(--c-gray-1);
  }

  &_search {
    width: 100%;
  }

  &_statusMessage {
    display: flex;
    min-width: var(--min-page-width);
    max-width: var(--max-page-width);
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: var(--space-lg);
    text-align: center;
  }

  &_list {
    display: flex;
    width: 100%;
    min-width: var(--min-page-width);
    max-width: var(--max-page-width);
    flex-direction: column;
    flex-grow: 1;
  }

  &_item {
    position: relative;
    display: flex;
    width: 100%;
    min-width: var(--min-page-width);
    max-width: var(--max-page-width);
    height: 70px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: var(--space-md);
    border-bottom: 1px solid var(--c-gray-4);

    &__isIncome {
      background-color: var(--c-gray-2);
    }
  }

  &_itemSection {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &_itemLink {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
