.TransactionsList {
  display: flex;
  align-items: center;

  &_header {
    position: sticky;
    z-index: 1;
    top: 0;
    display: flex;
    width: 100%;
    min-width: var(--min-page-width);
    max-width: var(--max-page-width);
    flex-direction: column;
    margin: 0 auto;
    background-color: var(--c-gray-1);
  }

  &_searchContainer {
    width: 100%;
    padding: var(--space-md);
    border-bottom: 1px solid var(--c-gray-4);
  }

  &_search {
    width: 100%;
  }

  &_infList {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
  }

  &_statusMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    min-width: var(--min-page-width);
    max-width: var(--max-page-width);
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: var(--space-lg);
    text-align: center;
    transform: translate(-50%, -50%);
  }

  &_item {
    position: relative;
    display: flex;
    width: 100%;
    min-width: var(--min-page-width);
    max-width: var(--max-page-width);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: var(--space-md);
    border-bottom: 1px solid var(--c-gray-4);
    margin: 0 auto;

    &__isIncome {
      background-color: var(--c-gray-2);
    }
  }

  &_itemSection {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &_itemLink {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
