.TransactionsList {
  display: flex;
  align-items: center;
  overflow-y: scroll;
}

.TransactionsList_header {
  z-index: 1;
  display: flex;
  width: 100%;
  min-width: var(--min-page-width);
  max-width: var(--max-page-width);
  flex-direction: column;
}

.TransactionsList_header__placeholder {
  position: static;
  visibility: hidden;
}

.TransactionsList_searchContainer {
  width: 100%;
  padding: 10px;
}

.TransactionsList_search {
  width: 100%;
}

.TransactionsList_infList {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}

.TransactionsList_statusMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  min-width: var(--min-page-width);
  max-width: var(--max-page-width);
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  transform: translate(-50%, -50%);
}

.TransactionsList_item {
  position: relative;
  display: flex;
  width: 100%;
  min-width: var(--min-page-width);
  max-width: var(--max-page-width);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #000;
  margin: 0 auto;
}

.TransactionsList_item__isIncome {
  background-color: lightgray;
}

.TransactionsList_itemSection {
  display: flex;
  width: 100%;
}

.TransactionsList_itemValue {
  overflow: hidden;
  padding: 0 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.TransactionsList_itemValue__account {
  margin-left: auto;
}

.TransactionsList_itemValue__price {
  flex-shrink: 0;
}

.TransactionsList_itemValue__time {
  flex-shrink: 0;
  margin-left: auto;
}

.TransactionsList_itemLink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
